<!DOCTYPE html>
<html lang="mr">
<head>
    {% load static %}
 <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet"/>
  
     <title>All forts — FortYatra</title>
    <link rel="stylesheet" href="{% static 'css/fort.css' %}">
</head>
<body>

<!-- ==================== NAVBAR ==================== -->
  <nav class="navbar">
    <div class="container">
      <a href="#" class="logo">Fort<span>Yatra</span></a>
 
      <ul class="nav-links">
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="/fort-us/">Explore Forts</a></li>
        <li><a href="/best-packages/">Browse Packages</a></li>
        <li><a href="#">Book's</a></li>
        <li><a href="#">About</a></li>
      </ul>
 
      <div class="nav-actions">
        <button class="btn-ghost">Login</button>
        <button class="btn-primary"><a href="/register/">Register Free</a></button>
      </div>
 
      <button class="hamburger" aria-label="Menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </nav>
 

<div class="fort-container">
    <h1>भारताचे प्रसिद्ध किल्ले</h1>

    <div class="fort-card">
        <img src="{% static 'img/rajgad.png' %}" alt="">
        <h2>राजगड किल्ला – महाराष्ट्र</h2>
        <p>राजगड किल्ला हा छत्रपती शिवाजी महाराजांचा जुना राजधानी किल्ला आहे.</p>
    </div>

    <div class="fort-card">
        <img src="{% static 'img/shivneri.jpg' %}" alt="">
        <h2>शिवनेरी किल्ला – महाराष्ट्र</h2>
        <p>शिवनेरी किल्ला हा शिवाजी महाराजांचा जन्मस्थान आहे.</p>
    </div>

    <div class="fort-card">
        <img src="{% static 'img/sindhudurgha.jpg' %}" alt="">
        <h2>सिंधुदुर्ग किल्ला – महाराष्ट्र</h2>
        <p>सिंधुदुर्ग हा समुद्रातील किल्ला आहे.</p>
    </div>

    <a href="/home/" class="back-link">← Back to Home</a>
</div>

</body>
</html>