<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="/static/css/landing.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                Traval-Fort
            </div>
            <div class="menu">
                <a href="/home/">Home</a>
                <a href="/fort-us/">Fort</a>
                <a href="/best-packages/">Best package</a>
                <a href="#">Book's</a>
                <a href="#">Contact</a>
            </div>
            <div class="register">
                <a href="/register/">Register </a>

            </div>
        </nav>